@import "tailwindcss";
@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";

@theme {
    --font-*: initial;
  --font-sans: Space Grotesk, sans-serif; 
  }



@font-face {
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-weight: 300 700;
  font-style: normal;
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}
