---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import { Observer } from "tailwindcss-intersect";
import "../styles/global.css";
---

<script>
  // Move the Observer initialization here
  import { Observer } from "tailwindcss-intersect";
  Observer.start();
</script>

<main class="container mx-auto">
  <div class="my-12">
    <span
      class="motion-opacity-in-0 motion-translate-y-in-100 motion-blur-in-md motion-delay-0"
    >
      <h1 class="text-slate-50 text-8xl tracking-tighter max-w-2xl">
        Hi, I’m André,
      </h1>
    </span>
    <span
      class="motion-opacity-in-0 motion-translate-y-in-100 motion-blur-in-md motion-delay-100"
    >
      <h1 class="text-slate-50 text-8xl tracking-tighter max-w-2xl">
        a Designer from
      </h1>
    </span>
    <span
      class="motion-opacity-in-0 motion-translate-y-in-100 motion-blur-in-md motion-delay-200"
    >
      <h1 class="text-slate-50 text-8xl tracking-tighter max-w-2xl">
        Germany.
      </h1>
    </span>
  </div>

  <div
    class="motion-opacity-in-0 motion-blur-in-md motion-delay-400 motion-duration-1000"
  >
    <p class="text-slate-50 max-w-3xl my-4">
      I’m a passionate Digital Designer with over 10 years of experience in the
      industry. Throughout my career, I’ve had the pleasure of working on a wide
      range of creative projects, helping brands and businesses communicate
      their vision through innovative design.
    </p>
    <p class="text-slate-50 max-w-3xl my-4">
      Currently, I’m part of the dynamic team at Fastdocs, where I continue to
      push the boundaries of digital design. Alongside my design work, I am also
      expanding my skills and transitioning into Front-End Development, bringing
      my creative ideas to life through code.
    </p>
    <p class="text-slate-50 max-w-3xl my-4">
      I’m excited about the future and the possibilities that lie ahead as I
      continue to grow both as a designer and a developer.
    </p>
  </div>
</main>
