---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import { Observer } from "tailwindcss-intersect";
import "../styles/global.css";
import andrePic from "../assets/andre-luca-pic2.jpeg";
---

<script>
  // Move the Observer initialization here
  import { Observer } from "tailwindcss-intersect";
  Observer.start();
</script>

<main class="container mx-auto">
  <div
    class="my-12 lg:mt-30 motion-opacity-in-0 motion-blur-in-md motion-delay-100"
  >
    <h1
      class="text-slate-50 text-4xl tracking-tight md:text-8xl md:tracking-tighter md:max-w-2xl"
    >
      Hi, I’m André, <br />
      <span class="motion-opacity-in-0 motion-blur-in-md motion-delay-200"
        >a Designer from
      </span><br />
      <span class="motion-opacity-in-0 motion-blur-in-md motion-delay-300">
        Germany.</span
      >
    </h1>
  </div>

  <div class="">
    <p
      class="text-slate-50 max-w-3xl my-4 text-balance motion-opacity-in-0 motion-blur-in-md motion-delay-400 motion-duration-600"
    >
      I’m a passionate Digital Designer with over 10 years of experience in the
      industry. Throughout my career, I’ve had the pleasure of working on a wide
      range of creative projects, helping brands and businesses communicate
      their vision through innovative design.
    </p>
    <p
      class="text-slate-50 max-w-3xl my-4 text-balance motion-opacity-in-0 motion-blur-in-md motion-delay-500 motion-duration-600"
    >
      Currently, I’m part of the dynamic team at Fastdocs, where I continue to
      push the boundaries of digital design. Alongside my design work, I am also
      expanding my skills and transitioning into Front-End Development, bringing
      my creative ideas to life through code.
    </p>
    <p
      class="text-slate-50 max-w-3xl my-4 text-balance motion-opacity-in-0 motion-blur-in-md motion-delay-600 motion-duration-600"
    >
      I’m excited about the future and the possibilities that lie ahead as I
      continue to grow both as a designer and a developer.
    </p>
  </div>
</main>
